body {
    background: url(../assets/crew/background-crew-desktop.jpg) no-repeat center center/cover;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.container { flex: 1 1 auto; }
#title { margin-top: 0; }
.wrapper { margin-top: 150px; }

.left {
    float: top;
    margin-left: 50px;
    width: 40%;
}

#role {
    color: gray;
    margin-bottom: 25px;
}

.dest-menu {
    height: 35px;
    margin: 100px 0 30px;
    padding: 0;
}

.menu-text {
    background-color: rgba(78, 78, 78, 0.6);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 10px;
    width: 15px;
}

.menu-text.active { background-color: white; }
.menu-text:first-of-type { margin: 0 15px 0 0;}
.menu-text:hover:not(.active) { background-color: gray; }

.img-container {
    bottom: 0;
    height: 80%;
    margin: 0 auto;
    position: absolute;
    width: 50%;
}

.dest-img {
    bottom: 0;
    margin: 0 100px;
    height: 100%;
    position: absolute;
    width: auto;
}