body {
    background: url(../assets/crew/background-crew-mobile.jpg) no-repeat center center/cover;
}

.wrapper { margin-top: 30px; }
#role { color: gray; }

.crew-menu {
    height: 20px;
    margin: 20px 0;
    padding: 0;
}

.menu-text {
    background-color: rgba(78, 78, 78, 0.6);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    width: 10px;
}

.menu-text.active { background-color: white; }
.menu-text:hover:not(.active) { background-color: gray; }

/* Media Query for Smartphone */
@media (max-width: 767px) {
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .left { 
        display: flex; 
        flex-direction: column;
    }

    .crew-menu { 
        -webkit-order: 0;
        order: 0;
    }

    #role, #crew-name, .spaced { 
        -webkit-order: 1;
        order: 1;
    }

    #crew-name { margin-top: 10px; }
    .spaced { width: 85%; }
    .crew-img { height: 223px; }
}

/* Media Query for Tablet */
@media (min-width: 768px) {
    body {
        background: url(../assets/crew/background-crew-tablet.jpg) no-repeat center center/cover;
    }

    .wrapper { margin-top: 0; }
    #role { margin-bottom: 10px; } 
    .crew-menu { margin: 50px 0 30px; }

    .menu-text { 
        height: 15px;
        margin: 0 10px;
        width: 15px;
    }

    .crew-img { height: 572px; }
    .spaced { width: 70%; }
}

/* Media Query for Desktop */
@media (min-width: 1025px) {
    body {
        background: url(../assets/crew/background-crew-desktop.jpg) no-repeat center center/cover;
        display: flex;
        flex-flow: column;
        height: 100vh;
    }

    .container { flex: 1 1 auto; }
    #title { margin-top: 0; }
    .wrapper { margin-top: 100px; }

    .left {
        float: top;
        margin-left: 50px;
        width: 50%;
    }

    #role { margin-bottom: 25px; } 
    .crew-menu { margin-top: 100px; }
    .menu-text:first-of-type { margin: 0 15px 0 0;}

    .img-container {
        bottom: 0;
        height: 80%;
        margin: 0 auto;
        position: absolute;
        width: 40%;
    }

    .crew-img {
        bottom: 0;
        margin: 0;
        height: 100%;
        position: absolute;
        width: auto;
    }
}