body {
    background: url(../assets/destination/background-destination-desktop.jpg) no-repeat center center/cover;
}

.img-container {
    margin: 0 auto;
    width: 50%;
}

.dest-img {
    margin: 50px 100px;
    max-height: 500px;
    width: auto;
}

.right {
    float: top;
    width: 30%;
}

.dest-menu {
    height: 35px;
    margin: 0 0 30px;
    padding: 0;
}

.menu-text {
    color: var(--lightblue);
    cursor: pointer;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px; 
    height: 100%;
    letter-spacing: 2.7px;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-text.active {
    border-bottom: solid white 2px;
    box-sizing: border-box;
    color: white;
}

.menu-text:hover:not(.active) { border-bottom: solid goldenrod 2px; }
.menu-text:first-of-type { margin: 0 15px 0 0; }

#dest-info {
    display: inline-block;
    white-space: none;
    width: 100%;
}

#dest-info div { display: inline-block; }
#dest-info div:first-of-type { margin-right: 20%; }