body {
    background: url(/Udemy/2022\ Web\ Development\ Bootcamp/02.75\ -\ Space\ Tourism/assets/destination/background-destination-desktop.jpg) no-repeat center center/cover;
}

#title {
    margin-left: 50px;
}

.wrapper {
    display: inline-block; 
    white-space: none;
    width: 100%;
}

.img-container, .right {
    display: inline-block;
    vertical-align: top;
}

.img-container {
    margin: 0 auto;
    width: 50%;
}

.dest-img {
    margin: 50px 100px;
    max-height: 500px;
    width: auto;
}

.right {
    float: top;
    width: 30%;
}

.dest-menu {
    height: 35px;
    margin: 0 0 30px;
    padding: 0;
}

.menu-text {
    color: var(--lightblue);
    cursor: pointer;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    height: 100%;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px; 
    letter-spacing: 2.7px;
}

.menu-text.active {
    box-sizing: border-box;
    border-bottom: solid white 2px;
    color: white;
}

.menu-text:hover:not(.active) {
    border-bottom: solid goldenrod 2px;
}

.menu-text:first-of-type { 
    margin: 0 15px 0 0;
}

.spaced {
    margin-bottom: 50px;
}

#dest-info {
    display: inline-block;
    white-space: none;
    width: 100%;
}

#dest-info div:first-of-type {
    margin-right: 20%;
}

#dest-info div {
    display: inline-block;
}