body {
    background: url(../assets/destination/background-destination-mobile.jpg) no-repeat center center/cover;
}

.dest-img { 
    margin: 0 0 25px;
    width: 170px;
}

.dest-menu {
    height: 25px;
    margin: 0 0 20px;
    padding: 0;
}

.menu-text {
    color: var(--lightblue);
    cursor: pointer;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px; 
    height: 100%;
    letter-spacing: 2.7px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-text.active {
    border-bottom: solid white 2px;
    box-sizing: border-box;
    color: white;
}

.menu-text:hover:not(.active) { border-bottom: solid goldenrod 2px; }

#dest-info {
    white-space: none;
    width: 100%;
}

/* Media Query for Smartphone */
@media (max-width: 767px) {
    #dest-info div:nth-of-type(2) { margin-top: 25px; }
    .subh2 { margin-bottom: 0; }
}

/* Media Query for Tablet */
@media (min-width: 768px) {
    body {
        background: url(../assets/destination/background-destination-tablet.jpg) no-repeat center center/cover;
    }

    .dest-img { 
        margin: 25px 0;
        width: 300px;
    }
    
    .dest-menu {
        height: 35px;
        margin: 0 0 30px;
    }

    .menu-text { 
        font-size: 16px; 
        margin: 0 15px; 
    }

    #dest-info { 
        display: inline-block; 
        margin-bottom: 40px;
    }
    
    #dest-info div { display: inline-block; }
    #dest-info div:first-of-type { margin-right: 20%; }
}

/* Media Query for Full HD Screen */
@media (min-width: 1025px) {
    body {
        background: url(../assets/destination/background-destination-desktop.jpg) no-repeat center center/cover;
    }

    .img-container {
        margin: 0 auto;
        width: 50%;
    }

    .dest-img {
        margin: 50px 10%;
        max-height: 500px;
        max-width: 500px;
        width: 80%;
    }

    .right {
        float: top;
        margin-left: 5%;
        width: 40%;
    }

    .menu-text:first-of-type { margin: 0 15px 0 0; }
}